################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DefaultWrappersTest/.vs/NP.Roxy.DefaultWrappersTest/v15
/DefaultWrappersTest/obj/Debug
/DefaultWrappersTest/packages
/DefaultWrappersTest/bin/Debug
/DefaultWrappersWithAttrsTest/.vs
/DefaultWrappersWithAttrsTest/bin/Debug
/DefaultWrappersWithAttrsTest/obj/Debug
/DefaultWrappersWithAttrsTest/packages
